{% extends "admin/base.html" %}


{% block extrahead %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
<style>
.breadcrumbs {
    display: none
}
.button {
    padding-left: 1em !important;
    padding-right: 1em !important;
}
</style>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <a href="/logout/" class="button is_alert">Logout</a>
    <p><b>Username:</b> {{user.get_username}}</p>
    <p><b>Nome:</b> {{user.get_firstname}}</p>
    <p><b>Função:</b> {{user_role}}</p>
    <input class="button" type="button is-alert" value="Voltar" onClick="history.go(-1)"> 
    <input class="button" type="button is-alert" value="Avançar" onCLick="history.forward()"> 
    <input class="button" type="button is-alert" value="Atualizar" onCLick="history.go(0)"> 
    {% block inner_content %}{% endblock %}
{% else %}
    <p>Você não esta logado. Por favor va para a tela de <a href="/login">login</a></p>
{% endif %}
{% endblock %}